@import url(styles/cabecalho.css);

:root{
    --branco: #FFFFFF;
    --preto: #333333;
    --cinza-escuro: #464646;
    --cinza-claro: #A3A3A3;
    --laranja-shadow: 0px 4px 16px 0px #FFB05029;
    --azul-shadow: 0px 4px 16px 0px #4894FF29;
    --cor-de-borda: #ECECEC;
}

body{
    background-color: var(--cor-de-borda);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
}