.rodape{
    background-color: var(--branco);
    padding: .5em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rodape__lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape__lista-item{
    display: grid;
    justify-items: center;
    font-size: 12px;
    color: var(--cinza-escuro);
}

.item__azul{
    color: var(--azul);
}

.bt__flutuante{
    width: 80px;
    height: 80px;
    background-image: url(../img/Botão\ flutuante.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    bottom: 3em;
}

.container__botao{
    display: none;
}

@media screen and (min-width: 767px){
    .rodape__lista{
        justify-content:space-evenly;
    }
}